.spot-page {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px

    
}

.top-bar{
    margin-top: 10px;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    padding: 0 120px;
    color: white;
    background-size: cover;
    background-position: center;
    border-radius: 20px;

}

.spot-page-title {
    width: fit-content;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
   
}

.add-review {
    padding: 10px;
    background-color: transparent;
    border: none;
    border: 2px solid var(--darkOrange);
    color: white;
    border-radius: 10px;
    justify-self: flex-end;
    display: flex;
    width: 100%;
}

.add-review:hover {
    box-shadow: 2px 2px 2px white;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.24);
    transition-duration: 500ms;
    transition-property: background-color;
}

.description-about {
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 20px;
    width: fit-content;
    box-shadow: 2px 2px 2px var(--darkOrange)
}

.reviews-tile {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.upload-image-text {
    padding: 2px;
    background-color: transparent;
    border: none;
    border: 2px solid var(--darkOrange);
    color: white;
    border-radius: 10px;
    justify-self: flex-end;
    display: flex;
    width: fit-content;
    margin: 10px;
    align-items: center;
}

.upload-image-text:hover {
    box-shadow: 2px 2px 2px white;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.24);
    transition-duration: 500ms;
    transition-property: background-color;
}