.landing-page {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    width: 100%;
    overflow-x: hidden;
}

.title {
    display: flex;
    align-items: center;
}

.recent-activity {
    display: flex;
    align-items: center;
    padding-top: 40px;
    width: fit-content;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}

.categories {
    /* margin: 0 auto; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    /* width: 100%; */
    max-width: 90vw;
    /* left: 0%; */
    margin-bottom: 200px;
   gap: 300px;
   margin-right: 250px;
    
    
}

