.landing-page {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    width: 100%;
    
    overflow-x: hidden;
}

.title {
    display: flex;
    align-items: center;
}

.recent-activity {
    display: flex;
    align-items: center;
    padding-top: 40px;
    width: fit-content;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin-bottom: 200px;
    height: 100%;
    
}

.category-cards {
    border: 20px solid black;
}