.signup-modal {
    
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ), url('https://topspots.s3.us-west-1.amazonaws.com/logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: fit-content;
    
    align-items: center;
    
   
}

.signup-modal form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign-up-button {
    border-radius: 5px;
    cursor: pointer;
}