/* TODO: Add sitewide styles */
:root {
    --orange: #fdb900;
    --red: #e20001;
    --darkOrange: #fb7401;
    --black: #000000;
}

html {
    font-family: "Roboto Condensed", sans-serif
}

body {
    padding-top: 170px;
}

@media only screen and (max-width: 1230px){
    body{
        padding-top: 320px;
    }
}
