/* .profile-dropdown {
  position: absolute;
} */

.navigation-bar-div {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
 
  
  background-color: white;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
  padding: 8px 0;
}

/* .navigation-bar-div > * {
  flex: 1
} */

.navigation-bar-div > :last-child {
  text-align: right;
}

.navigation-bar-logo {
  padding-top: 10px;
  width: 150px;
  height: 150px;
  padding-left: 20px;
}

.search-bar {
  border: 2px solid var(--darkOrange);
  padding: 5px;
  border-radius: 10px;
  display: flex;
  width: 400px;
}

.search-bar:hover {
  box-shadow: 2px 2px 2px black;
}

.search-bar-input {
  border: none;
  width: 100%;
}

.search-bar-input:focus {
  outline: none;
}

.fa-searchengin {
  font-weight: 500;
}

.profile-div {
  display: flex;
  
}

.login-modal {
 
  border-radius: 20px;
  background-color: rgba(245, 199, 39, 0.5);
}