.spot-form {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ), url('https://topspots.s3.us-west-1.amazonaws.com/logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-flex;
    flex-direction: column;
    overflow-y: auto;
    height: 300px;

    
    
}

.delete-spot {
    cursor: pointer;
}

.spot-form > h1 {
    display: inline-flex;
    text-align: center;
    flex-direction: column;
}

.spot-form-text-area {
    width: 150px;
    resize: none;
    height: 150px;
    display: inline-flex;
    margin-bottom: 10px;
}

.spot-form-text-area-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.spot-form-add-button {
    background: linear-gradient(45deg, red, yellow);
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5px;
}

.spot-form-add-button:hover{
    box-shadow: 2px 2px 2px black;
}